.App {
  text-align: center;

}


.navbar{
  position: fixed;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.5480567226890756) 0%, rgba(255,255,255,1) 50%);
  border-bottom: 1px solid rgb(236, 236, 236);
  height: 200px;
  z-index: 1;
}

.navbar h1{
  font-size: 6rem;
  color: orange;
  font-weight: bold;
  margin: 0;
}

.navbar button{
  background-color: orange;
  border-radius: 25px;
  color: white;
  border: none;
  margin: 10px;
  height: 50px;
  width: 200px;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}


.navbar button:hover{
  background-color:rgba(255, 255, 255, 0.541);
  color: orange;
  border: 1px solid orange;
}



.contactList{
  position: absolute;
  top: 200px;
  right: 30%;
  left: 30%;

}

.contactCard{
  border: 1px solid orange;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);
  border-radius: 30px;
  margin-top: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px
 
  
  
}

.contactCard div img{
  height:250px;
  width: auto;
  border-radius: 10%;
}

.contactCard button{
  background-color: orange;
  border-radius: 25px;
  color: white;
  border: none;
  margin: 10px;
  height: 50px;
  width: 200px;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}

.contactCard button:hover{
  background-color:rgba(255, 255, 255, 0.541);
  color: orange;
  border: 1px solid orange;
}


